<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nandi.gsgdsecond">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.nandi.gsgdsecond.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sNDGQvGEWi0WTxDSEtuV8a1MFlcf2ZD4" />
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24659909" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="9a82e1c5cfb77e38373ab33271cead62" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.DisasterListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.MonitorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.DailyLogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.DailyReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.DisReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.WeeklyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.WeeklyReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service android:name=".service.MyService" />

        <activity
            android:name=".activity.ProgressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.ReceiveVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.VideoConfig"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.DailyListActivity" />
        <activity android:name=".activity.WeeklyListActivity"></activity>
    </application>

</manifest>